body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    width: 700px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.signup-box {
    flex: 1;
    padding: 40px;
    text-align: center;
}

.signup-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.signup-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.signup-box p {
    margin-top: 15px;
    font-size: 14px;
}

.signup-box a {
    color: #333;
}

.signup-box a:hover {
    text-decoration: none;
}

.image-box {
    flex: 1;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h2{
    font-weight: bold;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p a {
    text-decoration: underline;
}
